{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="jumbotron">
  <h1 class="display-3">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

<div class='card border-success mb-3' style='max-width: 20rem;'>
  <div class='card-header'>Header</div>
  <div class='card-body'>
  <h4 class='card-title'>Success card title</h4>
  <p class='card-text'>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div> 
  </div>

{{template "footer.html" .}}
