{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="jumbotron">
{{if not .t}}
<h3>No se encontraron tareas en el sistema.</h3>
<form action=/task/create method="GET">
<button type="submit" class="btn btn-primary">Crear nuevo task</button>
</form>
{{else}}
<div class="container">
<form action=/task/create method="GET">
<button type="submit" class="btn btn-primary">Crear nuevo task</button>
</form>
<br>
<br>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="row">Nombre</th>
      <th scope="row">Descripción</th>
      <th scope="row">Comando</th>
      <th scope="row">Tiempo</th>
      <th scope="row">Zona horaria</th>
      <th scope="row">Notificar ejecución</th>
      <th scope="row">Tipo de notificación</th>
      <th scope="row">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {{range $index, $element := .t}}
    <form action="/task/delete" method="POST">
    <tr class="table-light">
      <td><strong style="text-transform: capitalize;">{{$element.Name}}</strong></td>
      <td><p class="customStyle" style="text-transform: capitalize;">{{$element.Description}}</p></td>
      <td onmouseover="document.getElementById('{{$element.Name}}').innerHTML='{{$element.Command}}'" onmouseout="document.getElementById('{{$element.Name}}').innerHTML='*******'">
      <p class="customStyle" id={{$element.Name}}>*****</p></td>
      <td><p style="width: 100px;">{{$element.Time}}</p></td>
      <td>{{$element.Timezone}}</td>
      {{ if not $element.Notification_email }}
      <td>Desactivado</td>
      <td>Desactivado</td>
      {{else}}
      <td>{{$element.Notification_email}}</td>
      {{ if $element.Notification_failed }}
      <td>Solo errores</td>
      {{else}}
      <td>Todas</td>
      {{end}}
      {{end}}

      
      <td><button type="button" data-toggle="modal" data-id="{{$element.CronId}}" data-target="#myModal" class="btn btn-danger btn-sm">x</button></td>
    </tr>
    <div class="modal" id="myModal">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar cambios</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>¿Está seguro de eliminar la tarea seleccionada?</p>
            <p>La acción eliminará completamente la tarea del sistema</p>
          </div>
          <div class="modal-footer">
            <input id="{{$element.CronId}}" name="id" type="hidden" value="">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
  $('#myModal').on('show.bs.modal', function(e) {
    var id = $(e.relatedTarget).data('id');
    document.getElementById("{{$element.CronId}}").value = id;
  });
});
    </script>
  </form>
    {{end}}
  </tbody>
</table>
</div>
{{end}} 
</div>
{{template "footer.html" .}}
