{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="jumbotron">
  <h1 class="display-3">Viltasks</h1>
  <p class="lead">Administrador de tareas.</p>
  <hr class="my-4">
  <p>Administre sus cronjob de forma centralizada.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/mvilche/viltasks" role="button">Ver Github</a>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
